* {
  margin:0; padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: wrap;
  font-family: 'Catamaran', sans-serif;
  color: #222;
  font-size: 0.7em;
}

header {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  align-items: flex-end; 
  width: 100%;
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("../img/SEATTLE-CITY.jpg") 
    top center / cover 
    no-repeat;
  color: white;
}

.header-content {
  width: 90%
}

.header-content h1 {
  font-size: 6em;
  font-weight: 700;

  margin-bottom: 5%;
}

.header-content hr {
  height: .3em;
  background: 
    linear-gradient(#999933, #111);
  border: none;
  opacity: .9;
}

.header-content ul {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-content: flex-end;
  list-style-type: none;
}

.header-content li {
  padding: 5% 0;
  margin-right: 5%;
  white-space: nowrap;
}

.header-content li:last-child {
  margin-right: 10%;
}

section {
  width: 100%;
}

article {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  position: relative;
  background: #fafafa;
  padding-bottom: 70%;
}

article::after {
  content: "";
  background: 
    url('../img/Space_Needle_and_Ferry.png')
    bottom center / contain 
    no-repeat;
  opacity: 0.6;
  top: 0; right: 0; bottom: 0; left: 0; 
  position: absolute;
}

article h2, 
article span, 
article p {
  width: 65%;
}

article h2 {
  margin: .6em 0 .2em;
  font-weight: 400;
  font-size: 2.1em;
  font-weight: 600;
  line-height: 1.1em;
}

article span {
  margin-bottom: .5em;
  font-size: .8em;
  font-weight: 600;
  color: #999;
}

article p {
  margin-bottom: .7em;
  line-height: 2em;
  font-weight: 600;
  font-size: .95em;
}

.section-photos {
  display: flex;
}

.photos-img {
  position: relative;
  width: 33.3334%;
  overflow: hidden;
}

/* makes square */
.photos-img::after {
  content: "";
  display: block;
  padding-bottom: 100%; 
  /* padding is calculated from parent (.photos-img) width */
}

.photos-img img {
  position: absolute;
  height: 100%;
}


@media screen and (min-width: 300px) and (min-height: 300px) {
  .container {
    font-size: .95em;
  }
}


@media screen and (min-width: 600px) and (min-height: 400px){
  .container {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 810px) and (min-height: 550px) {
  .container {
    flex-wrap: nowrap;
    width: 130vh;
    border-radius: .9em;
    overflow: hidden;
    font-size: 1.7vh;
  }
  header {
    height: auto;
  }
  section {
    flex-shrink: 2;
  }

  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
      linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.8)),
      url("../img/SEATTLE-CITY.jpg")
      top / cover;
  }
}